#googleLogo {
  margin-right: 25px;
}
#omcoinLogo {
  margin-top: 50px;
  margin-bottom: 25px;
}
.blueText{
  color: #0078FF;
}
.lightBlue{
  color: #00D0FF;
}
.whiteText{
  color: white;
}
.greyText{
  color: grey;
}
#buttonSpacing{
  margin-top: 50px;
  margin-bottom: 50px;
}
#OmappText{
  margin-top: 150px;
  margin-bottom: 35px;
  color: white;
  font-weight: bolder;
}
#MockupDiv{
  margin-top: 50px;
  margin-bottom: 150px;
}
#FirstMeditationText{
  margin-top: 150px;
  margin-bottom: 65px;
}
#AMeditationText{
  margin-top: 50px;
}
#VideoPadding{
  margin-bottom: 150px;
}
#CarouselPadding{
  margin-top: 150px;
  margin-bottom: 150px;
}
.OmcoinText{
  margin-top: -50px;
  margin-bottom: 35px;
}
@font-face {
  font-family: San Francisco;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
h1{
  font-family: San Francisco;
  font-size: 64px;
  font-weight: 900;
}
.Slide3Text{
  margin-top: 150px;
  margin-bottom: 85px;
}
.Landing1{
  background-color: red;
  background-image: url("./Assets/background-image.png");
  overflow:hidden;
}
.Landing2{
  overflow: hidden;
}
.Landing3{
  background-color: #FBFBFD;
  overflow:hidden;
  padding-bottom: 150px;
}
.Landing4{
  background-color: black;
  overflow:hidden;
  padding-bottom: 150px;
}
.carousel-control-prev-icon,
  .carousel-control-next-icon{
    filter: invert(1)
}
.emailInputField{
  margin-left: 20%;
  margin-right: 20%;
}
.responsiveImage{
    max-width: 100%;
    height: auto;
}
video {
  max-width: 75%;
  height: auto;
}
