.footer {
    background-color:  #f5f5f7;
    padding-top: 10%;
    padding-bottom: 5%;
}
.socialContainer{
    display: flex;
    margin: 0;
}
.spacing{
    margin-right: 2%;
}
.moreSpacing{
    margin-right: 25%;
}
/*
@media screen and (max-width: 1275px) {
    .spacing{
        width: 100vw;
    }
    .moreSpacing{
        width: 100vw;
        margin-right: 10%;
    }
}
@media screen and (max-width: 1350px) {
    .spacing{
        margin-right: 1%;
    }
    .moreSpacing{
        margin-right: 10%;
    }
}
@media screen and (max-width: 1700px) {
.spacing{
    margin-right: 1%;
}
.moreSpacing{
    margin-right: 15%;
}
}
*/

.verticalLineRight{
    border-right: 2px solid lightgrey;
    height: 25px;
}
.verticalLineLeft{
    border-left: 2px solid lightgrey;
    height: 25px;
}
.hrSpacing{
    margin-left: 10%;
    margin-right: 10%;
}
.CopyContainer{
    display: flex;
}
.vertical { 
    display: unset;
    border-left: 1px solid grey; 
    height: px; 
}
.hrFix { margin-top: 0; margin-bottom: 0px }