.brandSpacing{
    margin-left: 10%;
}
.PageLinks{
    margin-left: 50%;
}
@media screen and (max-width: 990px){
    .PageLinks{
        margin: 0;
    }
    .buttonSpacing{
        margin: 0;
    }
}
.buttonSpacing{
    margin-left: 5%;
}
html {
    scroll-behavior: smooth;
}
.blackText{
    color: black;
}
.nav-link {
    color: black !important;
}
.nav-link:hover {
    color: grey !important; /*will change color of text within the element on hover */
}
